.form-container{
    background-color:darkslategrey;
   width:80%;
   justify-content: center;
}
.form{
    width:80%;
    text-align: center;
    margin:10px 20px;
    padding:20px;
    border-radius:10px;
}
.field{
    margin-left:40px;
   
}